{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'candy/style.css' %}"> 
    <title>Конфеты</title>
</head>

<body>
    <header>
            <h1 class="brand-name">
                <a href="{% url 'candy:index' %}">КэндиРейтинг</a> 
            </h1>
    </header>
    <main id="main-content">
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="menu-button">Сохранить</button>
        </form>
    </main>
</body>

</html>
