{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'candy/style.css' %}"> 
    <title>Конфеты</title>
</head>

<body>
    <div id="loader">
        <div class="spinner"></div>
        <p class="loading-text">Мы скоро будем готовы показать вам страницу!</p> <!-- Текст загрузки -->
    </div>

    <header>
            <h1 class="brand-name">
                <a href="{% url 'candy:index' %}">КэндиРейтинг</a> 
            </h1>
            <div class="divider"></div>
            <div class="user-menu"> 
                <a href="{% url 'candy:candy_new' %}" class="menu-button">Добавить конфету</a>
                <a href="register.html" class="menu-button">Зарегистрироваться</a>
                <a href="login.html" class="menu-button">Войти</a>
                <a href="about.html" class="menu-button">О проекте</a>
            </div>
            <div class="divider"></div>
            <nav>
                <div class="stat-block">Общее кол-во: <span id="totalCandies">0</span></div>
                <div class="stat-block">Средняя стоимость: <span id="averagePrice">0р</span></div>
                <div class="stat-block">Самая низкая стоимость: <span id="lowestPrice">0р</span></div>
                <div class="stat-block">Самая высокая стоимость: <span id="highestPrice">0р</span></div>
            </nav>
    </header>
    <main id="main-content">
        <script type="module" src="{% static 'api/api.js' %}"></script>
        <script type="module" src="{% static 'candy/candy.js' %}"></script>
    </main>
</body>

</html>
