body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f4f4f4;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stat-block {
    flex: 1;
    padding: 5px;
    text-align: center;
    border-right: 3px solid #3f3f3f;
    position: relative;
}

.stat-block:last-child {
    border-right: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
    gap: 20px;
}

.property-name {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.candy-block {
    flex-basis: calc(20% - 20px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    transition: box-shadow 0.3s;
}

.candy-block:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.candy-block img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 5px 5px 0 0;
}

.candy-info {
    padding: 10px;
    font-size: 14px;
}

h2 {
    text-align: center;
    background-color: #f5f5f5;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    font-size: 24px;
}

.user-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.menu-button {
    padding: 10px 25px;
    font-size: 16px;
    background-color: #f4f4f4;
    border: 2px solid #3f3f3f;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    color: inherit;
    text-decoration: none;
}

.menu-button:hover, .menu-button:focus {
    background-color: #ddd;
    transform: scale(1.05);
    color: inherit;
    text-decoration: none;
}

.brand-name {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 5px 0;
    color: #3f3f3f;
    letter-spacing: 2px;
}

.divider {
    height: 2px;
    background-color: #3f3f3f;
    margin: 10px 0;
}

/* Общие стили для формы */
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4;
}

/* Стили для блоков ввода */
form div {
    margin-bottom: 15px;
}

/* Стили для меток */
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Стили для полей ввода */
form input[type="text"],
form input[type="url"],
form input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Это поможет удостовериться, что ширина поля ввода включает в себя внутренние отступы */
}

/* Стили для кнопки отправки */
form input[type="submit"] {
    cursor: pointer;
    background-color: #3f3f3f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #2d2d2d;
}

.brand-name a {
    color: inherit; /* Будет наследовать цвет текста родителя */
    text-decoration: none; /* Убирает подчёркивание у ссылки */
}

.brand-name a:hover, .brand-name a:focus {
    color: inherit; /* Сохраняет цвет текста при наведении и фокусе */
    text-decoration: none; /* Убирает подчёркивание при наведении */
}
